@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("/images/bg-image.jpg");
    background-size: cover;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-family: 'Bakbak One', cursive;
    margin: 5px 0;
    padding: 5px 0;
    color: #000;
}

#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bakbak One', cursive;
    padding: 5px 0;
    margin-bottom: 25px;
    color: #000;
}

.container {
    border: 2px solid #fff; 
    border-radius: 10px;
    display: block;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    margin: auto;
    width: 60%; 
    margin-bottom: 200px;

}

#form-element {
    margin: 25px;
    padding: 20px;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

div input, select {
    display: block;
    width: 100%;
    border: 3px solid #000;
    padding: 8px 0;
    margin: 8px 0;
}

div input[type="radio"], div input[type="checkbox"] {
    width: 35px;
    height: 18px;
    display: block;
    float: left;
    clear: none;
    margin: 6px 10px 0 2px;
}

.p {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.rlabel, .clabel {
    margin-top: 6px;
    display: block;
    clear: none;
    font-size: 16px;
    color: #ccc;
    font-size: 18px;
}

.options {
    color: black;
    font-weight: bold;
}

textarea {
    width: 100%;
    color: black;
}

input[type="submit"] {
    color: #fff;
    font-weight: 1000;
    background-color: rgba(115, 46, 180, 1);
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(115, 46, 180, 0.5);
}